.about-container {
  text-align: center;
  padding: 20px;
  background: url('./assets/background.jpg') no-repeat center center fixed; /* Background image */
  background-size: cover; /* Ensure the background covers the entire container */
  color: white; /* Text color */
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  margin: 20px 0;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  margin: 10px 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

