.home-container {
  text-align: center;
  padding: 20px;
  background: url('./assets/background.jpg') no-repeat center center fixed; /* Background image */
  background-size: ; /* Ensure the background covers the entire container */
  color: white; /* Text color */
}

.logo {
  width: 100px; /* Adjust size as needed */
  margin: 10px;
}

.lottie-container {
  width: 200px; /* Adjust size as needed */
  height: 200px;
  margin: 20px auto; /* Center the animation */
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  margin: 20px 0;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
}

